.content {
    margin-top: 7%;
}

.title {
    margin-top: 3%;
}

.info {
    margin-top: 4%;
    position: absolute;
}

.picture {
    width:90%;
    position: absolute;
    opacity: 0.9;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.profil {
    width:40%;
    margin-left:20%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.sub-title {
    padding-left: 6%;
    padding-top: 3%;
}

@media screen and (max-width: 991px) {
    .content {
        margin-top: 20%;
    }
    .profil {
        width:35%;
        margin-left:5%;
        margin-bottom: 5%;
    }
}

.MuiList-root {
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}